<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Score Scan</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="back-button">
                <a href="#"> <i class="fa fa-angle-left"></i></a>
              </div>  
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="header-title">
                <span style="cursor:pointer" onclick="openNav()"><img src="../static/img/Menu.png" class="pull-right" alt="icon" /></span>
                <div id="myNav" class="nav-overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                  </div>
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="login-section">
        <div class="login-panel">
          <div class="table-method">
            <div class="main-logo">
              <img src="../static/img/logo.png" alt="logo" />
            </div>
            <div class="file-upload">
              <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

              <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                <div class="drag-text">
                  <h3>Drag and drop a file or select add Image</h3>
                </div>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <footer>
        <p> ⓒ Score-scan.com all rights reserved 2019</p>  
      </footer>
    </div>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function openNav() {
        document.getElementById("myNav").style.height = "100%";
      }
      function closeNav() {
        document.getElementById("myNav").style.height = "0%";
      }
      function readURL(input) {
        if (input.files && input.files[0]) {

          var reader = new FileReader();

          reader.onload = function(e) {
            $('.image-upload-wrap').hide();

            $('.file-upload-image').attr('src', e.target.result);
            $('.file-upload-content').show();

            $('.image-title').html(input.files[0].name);
          };

          reader.readAsDataURL(input.files[0]);

        } else {
          removeUpload();
        }
      }

      function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
      }
      $('.image-upload-wrap').bind('dragover', function () {
              $('.image-upload-wrap').addClass('image-dropping');
          });
          $('.image-upload-wrap').bind('dragleave', function () {
              $('.image-upload-wrap').removeClass('image-dropping');
      });
    </script>
  </body>
</html>
