{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

<div class="header-title"  style="margin-right: 50%">
    <h1>ACT Score Report</h1>
</div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="table-responsive">
                  <table class="table table-student">
                    <tbody>
                      <tr>
                        <td scope="col" width="45%">Student</td>
                        <td width="45%">Student Name</td>
                        <td width="10%"></td>
                      </tr>
                      <tr>
                        <td scope="col" width="45%">Test Date</td>
                        <td width="45%">Test Date</td>
                        <td width="10%"></td>
                      </tr>
                      <tr>
                        <td scope="col" width="45%">Test Form</td>
                        <td width="45%">Test Form #</td>
                        <td width="10%"></td>
                      </tr>
                    </tbody>
                  </table>    
                </div> 
              </div> 
              <div class="col-xs-12 col-sm-6">
                <div class="table-responsive">
                  <table class="table table-score">
                    <thead>
                      <tr>
                        <th width="35%">Section</th>
                        <th width="35%">Score</th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>English</td>
                        <td>74</td>
                        <td>36</td>
                        <td>0</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>English</td>
                        <td>74</td>
                        <td>36</td>
                        <td>0</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>English</td>
                        <td>74</td>
                        <td>36</td>
                        <td>0</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>English</td>
                        <td>74</td>
                        <td>36</td>
                        <td>0</td>
                        <td>15</td>
                      </tr>
                      <tr class="tble-row">
                        <td width="35%">English</td>
                        <td>50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                       <tr class="tble-row">
                        <td width="35%">English</td>
                        <td>50</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>    
                </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="table-responsive">
                  <table class="table table-score">
                    <thead>
                      <tr>
                        <th width="30%">Section</th>
                        <th width="10%">Section</th>
                        <th width="60%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>English</td>
                        <td>74</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>    
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
{% endblock %}