{% load static %}
{% block content %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Score Scan</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    
  </head>
  <body>
      <div class="login-section">
        <div class="login-panel">
          <div class="table-method">
            <h1>LOGIN NOW</h1>
            <form class="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
              <div class="form-group">
                <label>Email</label>
                <input required="True" type="text" class="form-control" name="email" placeholder="Your Email" >
              </div>  
              <div class="form-group">
                <label>Password</label>
                <input required="True" type="text" class="form-control" name="password" placeholder="Password" >
              </div>
              <div class="pw-text"></div>
              <div class="text-center">
                <button type="submit" class="btn btn-md btn-primary">Login Now <i class="fa fa-arrow-right"></i></button>  
              </div>
            </form>
          </div>
        </div>
      </div>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
{% endblock %}