<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Score Scan</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css"  >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="back-button">
                <a href="{% url 'fileupload' %} }"> <i class="fa fa-angle-left"></i></a>
              </div>  
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="header-title">
                <span style="cursor:pointer" onclick="openNav()"><img src="../static/img//Menu.png" class="pull-right" alt="icon" /></span>
                <div id="myNav" class="nav-overlay">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <div class="overlay-content">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                  </div>
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </div>
      <div class="getstart-section">
        <div class="getstart-panel">
          <div class="table-method">
            <div class="heading-sec text-center">
              <h1>Thank you</h1>
{#              <p>To score the test, take a photo</p>#}
            </div>
            <div class="getstart-content">
              <p>To ensure best results, please be sure to take photos of the answer sheet by holding it infront of your computers web camera, in a well-lit area, and with the camera in focus.</p>
              <p>You will receive a score summary via email.</p>
            </div>
            <div class="buttons text-center">
              <a href="{% url 'fileupload' %}" class="btn btn-md btn-custom">Back To Camera</a>
                <a href="{% url 'index' %}" class="btn btn-md btn-custom">View Result</a>
            </div>
          </div>
        </div>  
      </div>
      <footer>
        <p> ⓒ Score-scan.com all rights reserved 2019</p>  
      </footer>
    </div>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">
      function openNav() {
        document.getElementById("myNav").style.height = "100%";
      }
      function closeNav() {
        document.getElementById("myNav").style.height = "0%";
      }
      $(function () {
          $('select').selectpicker();
      });
    </script>
  </body>
</html>
